<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Fake.Core.Context" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Core.Environment" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Core.FakeVar" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Core.Process" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Core.String" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Core.Trace" version="5.11.1" targetFramework="net461" />
  <package id="Fake.IO.FileSystem" version="5.11.1" targetFramework="net461" />
  <package id="Fake.Testing.SonarQube" version="5.11.1" targetFramework="net461" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="Moq" version="4.10.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net461" />
  <package id="StyleCop" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Process" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Watcher" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net461" />
</packages>